@import './constants';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
  min-height: calc(100vh - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light;
}

@mixin degree-partial {
  content: '';
  position: absolute;
  border: 0.1px solid $primary;
  border-radius: 50%;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
  width: 900px;
  max-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  overflow: hidden;
  color: $dark;
  background-color: #fff;

  .left {
    display: flex;
    flex-direction: column;

    padding: 2rem 0 2rem 2rem;

    .date {
      h1 {
        font-size: 3rem;
        font-weight: 300;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .current-degree {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      p {
        position: relative;

        font-size: 7rem;
        padding: 0;
        margin: 0;
        font-weight: 300;

        &::after {
          width: 10px;
          height: 10px;
          top: 1rem;
          @include degree-partial();
        }
      }

      i {
        padding: 0 3rem;
        font-size: 5rem;
        margin-top: 1rem;
      }
    }

    .week-days {
      display: flex;
      justify-content: stretch;

      .day {
        display: flex;
        align-items: center;
        width: 70px;
        justify-content: flex-start;
        flex-direction: column;

        .day-name {
          color: $primary;
        }

        .degree {
          position: relative;

          &::after {
            width: 2px;
            height: 2px;
            top: 0;
            right: -5px;
            @include degree-partial();
          }
        }
      }
    }
  }

  .right {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
